.banner {
  padding-bottom: 6px;

  font-family: $page-font;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.banner--form {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 9px;
}

.banner__image {
  position: relative;
  width: 320px;
  min-height: 160px;
  margin-bottom: 35px;
  background-color: $main-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 2 ;
}

.banner__image::before {
  content: " ";
  position: absolute;

  bottom: 0;
  display: block;
  width: 100%;
  height: 26px;

  background-image: url("../img/bg-intro-triangle-mobile.svg");
}

.banner__image--index {
  min-height: 389px;
  margin-bottom: 40px;
  background-size: cover;

  img {
    width: 280px;
    padding-top: 90px;
  }
}


.banner__wrapper {
  width: 275px;
  margin: 0 auto;
  padding: 0 0 17px;
}

.banner__slogan {
  color: $main-text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.banner__intro {
  margin: 0;
  padding: 25px 0 0;
  color: #333333;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.banner__image--photo img {
    display: block;
    width: 229px;
    margin: 0 auto;
    padding-top: 50px;
}

.banner__image--form img {
    display: block;
    width: 229px;
    margin: 0 auto;
    padding-top: 50px;
}

@media (min-width: $tablet-width) {
  .banner__image {
    width: 768px;

    // &::before {
    //   display: none;
    // }
  }

.banner__image--index {
    min-height: 518px;
    margin-bottom: 49px;
}

  .banner__image--photo {
    min-height: 290px;
    margin-bottom: 74px;
  }

  .banner__image--form {
    min-height: 290px;
    margin-bottom: 74px;
  }

.banner__image--index img {
  width: 460px;
  padding-top: 78px;
}

  .banner__image--photo img {
    width: 458px;
    padding-top: 94px;
  }

  .banner__image--form img {
    width: 458px;
    padding-top: 94px;
  }

  .banner__wrapper {
    width: 510px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 44px;
  }

  .banner__slogan {
    margin: 0;

    font-size: 30px;

    &--small {
    font-size: 21px;
    }
  }

  .banner__intro {
    margin: 0;
    padding: 25px 0 0;
    color: #333333;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
  }

  .banner__intro--photo {
    width: 445px;
    margin: 0 auto;
    padding-bottom: 62px;
  }

  .banner__intro--form {
  width: 445px;
  margin: 0 auto;
  padding-bottom: 46px;
  }
}

@media (min-width: $desktop-width) {
  .banner__image {
    width: 1200px;
  }

    .banner__intro--photo {
    padding-bottom: 64px;
  }

    .banner__intro--form {
    padding-bottom: 31px;
  }
}

