.feedback-form {
   display: flex;
  flex-direction: column;

  width: 280px;
  margin: 0 auto;
  padding-bottom: 36px;

  font-family: $page-font;

}

.feedback-form__item {
  position: relative;
  margin: 0;
  padding: 0;

  border: none;
}

.feedback-form__b {
  display: block;
  margin: 0;
  padding: 18px 0 0;
  margin-bottom: 22px;

  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}


.feedback-form__item--name,
.feedback-form__item--contacts,
.feedback-form__item--genfeedback,
.feedback-form__item--visited-places {
  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #d6d6d6;
    bottom: 0;
    left: -20px;
  }
}

.feedback-form__item--name {
  padding-bottom: 25px;
}

.feedback-form__item--contacts {
  padding-bottom: 17px;
}

.feedback-form__b--contacts {
    margin-bottom: 7px;
}

.feedback-form__item--visited-places {
  margin-bottom: -5px;
}

.feedback-form__wrapper {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}




.feedback-form__textarea {
  width: 100%;
  margin-bottom: 45px;
  margin-top: -5px;
  padding: 16px 20px 20px 20px;

  font-family: $page-font;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  background-color: #f2f2f2;
  border: none;

  &:hover {
    outline: none;
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    outline: none;
    background-color: $white;
    border: 3px solid #e5e5e5;
    padding: 13px 17px 17px 17px;
  }
}



.feedback-form__button {
  width: 280px;
  padding-top: 1px;
  padding-right: 18px;
}





@media (min-width: $tablet-width) {
  .feedback-form {
    width: 648px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 61px;
  }

  .feedback-form__item--visited-places {
    order: 4;
    width: 100%;
    margin-bottom: 1px;
  }

  .feedback-form__wrapper--visited {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 95px;
    justify-content: flex-start;
  }




  .feedback-form__button {
    position: relative;
    order: 6;
    right: 162px;
    width: 324px;

    &::after {
      position: absolute;
      content: "* — обязательные поля";
      width: 170px;
      top: 19px;
      left: 481px;

      font-family: $page-font;
      font-size: 14px;
      line-height: 26px;
      font-weight: 400;
      color: #333333;
      text-transform: uppercase;
    }
  }
}




@media (min-width: $desktop-width) {
  .feedback-form {
    width: 960px;
    padding-bottom: 65px;
  }
  .feedback-form__wrapper--visited {
    width: 960px;
    flex-wrap: wrap;
    padding-left: 0;
  }
}
