.site-list {
  @include list-reset;
}

.site-list__item {
  background-color: $main-blue;
  min-height: 56px;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  &:hover {
    background-color: #669ec1;
  }

  &:focus {
    background-color: #669ec1;
    color: rgba(255, 255, 255, 0.3);
  }

  &:active {
    background-color:  #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  a {
    display: block;
    vertical-align: middle;
    font-family: $page-font;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    color: $white;
    text-transform: uppercase;
    padding: 7px 0;
  }

  &:last-child {
    box-shadow: inset 0 -10px 18px -20px #000000;
  }
}



.site-list__item:not(.site-list__item--active):active .site-list__link {
  color: rgba(255,255,255,.3);
}





@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .site-list__item {
    width: 153px;

    background-color: $white;
    border-top: none;
    border-bottom: none;

    &:nth-child(3) {
      margin-left: 160px;
    }

    &:last-child {
      box-shadow: none;
    }

    &:hover,
    &:focus {
      background-color: transparent;

      a {
        color: $main-blue;
      }
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: transparent;
    }

    a {
      display: block;
      padding-top: 13px;

      color: $main-text-color;
      font-size: 14px;
      line-height: 26px;
      text-transform: uppercase;
    }
  }
}


@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    flex-wrapp: wrapp;
    width: 1200px;
    min-height: 56px;
  }

  .site-list__item {
    width: 259px;
  }
}

@media (max-width: $mobile-width-only) {
  .site-list--closed {
    @include list-reset;
    display: none;
  }
}
